.header {
  margin-top: 30px;
  margin-bottom: 2px;
}

.header hr {
  display: block;
  margin-top: 30px;
  /* margin-bottom: 0.5em; */
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.header h2 {
  color: #2B5394;
  margin-top: 4px;;
}

.image-row {
  margin-top: 2px;
}
