<div class="container header">
  <div class="row image-row">
    <div class="col-med-12">
      <img src="../../assets/images/afc-portal-pac.png" />
    </div>
  </div>
  <div class="row image-row">
    <div class="col-med-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-med-12">
      <h2>Consumer Portal Account Creation</h2>
    </div>
  </div>  
</div>
