.environment{
    border: thin gray solid;
    min-height: 40px;
    line-height: 20px;
    padding: 6px;
    padding-left: 12px;
    vertical-align: middle;
    background-color: rgb(248, 52, 78);
    background-color: lightgray;
    color: black;
    font-size: .85em;
}

.title{
    font-size: 20px;    
    text-transform: uppercase;
    padding-right: 6px;
    
}