<div class="container">
  <div class="row">
    <div class="col-12">      
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
      <div class="environment" *ngIf="!env.production && env.display.enabled" [style.background-color]="env.display.backgroundColor">
        <span class="title">{{env.name}}</span>
        <span>{{env | json}}</span>
      </div>
    </div>
  </div>
</div>
