<!-- Error message -->
<div>
  <span class="error-summary">{{errorMessage}}</span>
  <!-- spinner -->
  <div style="min-height:20px;">
    <div *ngIf="!dataReady && errorMessage.length === 0" style='width:100%;text-align:center; margin-top:5px;'>
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
    <!-- <div *ngIf="dataCreate" style='width:100%;text-align:center; margin-top:5px;'>
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div> -->
  </div>
</div>
<!-- Borrowers -->
<div class="container-fluid">
  <div class="row borrower-header" *ngIf="fileName">
    <div class="col-xs-10 col-md-10 col-lg-10">Byte FileName:
      <span>{{fileName}}</span>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 text-center">
      <span style="margin-right:12px;">Action</span>
    </div>
  </div>
  <div class="row borrower-detail" *ngFor="let borrower of this.borrowers">

    <div class="col-xs-6">
      <span>{{borrower.firstName}} {{borrower.lastName}}</span>
      <br/>
      <span>{{borrower.email}}</span>
      <div *ngIf="borrower.hasUserAccount && !borrower.hasPortalAccount">This borrower already has a Portal Account. Clicking this button will add this loan to that account.</div>
      <div class="created-user" *ngIf="borrower.hasPortalAccount">Created</div>
      <!-- <br/>
      <span>sort: {{borrower.sort}}</span> -->
      <!-- <br> -->
      <div class="error" *ngIf="borrower.errors.length > 0" style="margin-top:10px;">Errors:
        <br/>
      </div>
      <ul class="error" *ngFor="let error of borrower.errors">
        <li class="error">{{error}}</li>
      </ul>
    </div>

    <div class="col-xs-6 text-right">
      <!-- Has a User Account: {{ borrower.hasUserAccount}}<p></p>
      Has a Portal Account: {{ borrower.hasPortalAccount}} -->

      <button type="button" [disabled]="!borrower.isValid || !borrower.hasPortalAccount" class="btn btn-primary" style="margin-right:0px;"
        (click)="sendRegistrationEmail(borrower.id, borrower.sms)" [style.hover]="" style="margin-right: 6px;">Re-Send Registration Email</button>

      <button type="button" [disabled]="!borrower.isValid || borrower.hasPortalAccount" class="btn btn-primary" style="margin-right:0px;"
        (click)="accountCreate(borrower.id)">{{ borrower.hasUserAccount == true ? 'Add to Account' : 'Create' }}</button>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 text-left borrower-footer">
      <div *ngIf="dataReady && hasBorrowerError">
        <span>{{errorInfo}}</span>
      </div>
      <span style="margin-right:100px; color: green; margin-top:10px; font-weight:bold;">{{message}}</span>
    </div>
    <div class="col-xs-3 text-right borrower-footer">
      <button type="button" class="btn btn-secondary" (click)="refresh()" style="margin-right:14px;">Refresh</button>
    </div>
  </div>

  <div class="row" *ngIf="pacManError">
    <div class="col-md-12">
      <div class="error">
        <div>ERROR</div>
        <div>{{pacManError.FriendlyMessage}}</div>
        <div>Status: {{pacManError.StatusCode}}, {{pacManError.StatusText}}</div>
        <div>Message: {{pacManError.Message}}</div>
        <div>URL: {{pacManError.Url}}</div>
      </div>
    </div>
  </div>

</div>
