.borrower-header {
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 10px;
  font-size: 1.2em;
}

.borrower-detail {
  margin-bottom: 6px;
  padding: 10px;
  background-color: white !important;
  border: thin solid gray;
}

/* .borrower-detail button {
  margin-top: 4px;
  background-color: #B7B7B7;
  color: #070503;
  font-weight: bold;
  border: thin rgb(146, 143, 143) solid;
} */

/* .borrower-detail button:hover {
  background-color: #868383;
} */

.borrower-footer {
  margin-bottom: 6px;
  padding: 10px;
  /* background-color: lightblue; */
  /* border: thin solid gray; */
}

.borrower-footer a {
  margin-right: 16px;
}

.borrower-footer span {
  text-align: left;
}

.btn-info{
  min-width: 75px;  
}

.error {
  border: thin darkred solid;
  padding: 4px;
  color: red;
  line-height: 14px;
}

.error-summary {
  padding-top: 12px;
  padding-left:24px;
  color: #FF5252;
  line-height: 12px;
  font-size: 1.5em;
}

.created-user{
  color: green;
  font-weight: bold;
}

/* spinner */

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
